/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.search-box form {
  width: auto;
  display: inline-block;
  float: right;
  margin: 12px 0;
}
.search-form-container {
  background: #fff;
  overflow: hidden;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-form-container .search-keyword {
  display: inline-block;
  float: left;
  margin-right: 10px;
  border: none;
  padding: 0;
  margin-bottom: 0;
  padding: 0 15px;
  height: 35px;
}
.search-form-container  .search-submit {
  background: none;
  text-indent: -9999em;
  display: inline-block;
  width: 17px;
  padding: 0;
  margin: 0;
  float: right;
  height: 35px;
}
.main-menu-container {
  overflow: hidden;
  width: 71%;
  float: left;
  margin-top: 12px;
  height: 35px;
}
.main-menu {
  overflow: hidden;
  margin: 7px 0 0 0;
}
.main-menu li {
  width: auto;
  display: inline-block;
  float: left;
  margin-right: 45px;
}
.main-menu li a {
  color: #fffbf8;
  text-decoration: none;
}

.description-body {
  overflow: none;
  min-height: 422px;
}
.home-page-login-container {
  width: 325px;
  display: block;
  margin: 40px auto 48px auto;
}
.home-page-login-container form {
  background: #f4f3f1;
  display: block;
  padding: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.inner-body {
  background: url(../images/loginbg.jpg);
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

  }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/